<%= form_for(@advertise) do |f| %>
  <% if @advertise.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@advertise.errors.count, "error") %> prohibited this advertise from being saved:</h2>

      <ul>
      <% @advertise.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :category %>
    <%= f.select :category_id, options_for_select(@categories.collect {|x| [x.name, x.id]}, @advertise.category.try(:id)), prompt: "---" %>
  </div>

  <div class="field">
    <%= f.label :show_for_days %><br />

    <% if @advertise.new_record? %>
      <%= f.number_field :show_for_days %>
    <% else %>
      <%= f.number_field :show_for_days, disabled: true %>
    <% end %>

  </div>
  <div class="field">
    <%= f.label :cost %><br />
    <%= f.number_field :cost %>
  </div>

  <div class="field">
    <%= f.label :size %>
    <%= f.select :size, options_for_select(Advertise.get_sizes, @advertise.size) %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
