<%= form_for(@advertise) do |f| %>
  <% if @advertise.errors.any? %>
    <div id="error_explanation">
      <h2><%= @advertise.errors.count %><%=t :error_prohibited_this_advertise_from_being_saved %>:</h2>

      <ul>
      <% @advertise.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label _("title") %><br />
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label _("category") %>
    <%= f.select :category_id, options_for_select(@categories.collect {|x| [x.name, x.id]}, @advertise.category.try(:id)), prompt: "---" %>
  </div>

  <div class="field">
    <%= f.label _("show for days") %><br />

    <% if @advertise.new_record? %>
      <%= f.number_field :show_for_days %>
    <% else %>
      <%= f.number_field :show_for_days, disabled: true %>
    <% end %>

  </div>
  <div class="field">
    <%= f.label _("cost") %><br />
    <%= f.number_field :cost %>
  </div>

  <div class="field">
    <%= f.label _("size") %>
    <%= f.select :size, options_for_select(Advertise.get_sizes, @advertise.size) %>
  </div>
  <div class="field">
    <%= f.label _("description") %><br />
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit class: "btn btn-success" %>
  </div>
<% end %>
