<%= form_for(@advertise) do |f| %>
  <% if @advertise.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@advertise.errors.count, "error") %> prohibited this advertise from being saved:</h2>

      <ul>
      <% @advertise.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :show_for_days %><br />
    <%= f.number_field :show_for_days %>
  </div>
  <div class="field">
    <%= f.label :cost %><br />
    <%= f.number_field :cost %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
