<h1>Listing advertises</h1>

<table>
  <thead>
    <tr>
      <th><%=t :title %></th>
      <th><%=t :description %></th>
      <th><%=t :show_for_days %></th>
      <th><%=t :cost %></th>
      <th><%=t :cost_per_day %></th>
      <th><%=t :deactive_date %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @advertises.each do |advertise| %>
    <tr>
      <td><%= advertise.title %></td>
      <td><%= advertise.description %></td>
      <td><%= advertise.show_for_days %></td>
      <td><%= advertise.cost %></td>
      <td><%= advertise.cost_per_day %></td>
      <td><%= advertise.deactive_date %></td>
      <td><%= link_to 'Show', advertise %></td>
      <td><%= link_to 'Edit', edit_advertise_path(advertise) %></td>
      <td><%= link_to 'Destroy', advertise, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Advertise', new_advertise_path %>
