<h1><%= _("Listing advertises") %></h1>
<div class="row dashbody">
<table class="table table-striped span12">
  <thead>
    <tr>
      <th><%= _("title") %></th>
      <th><%= _("description") %></th>
      <th><%= _("show for days") %></th>
      <th><%= _("cost") %></th>
      <th><%= _("cost per day") %></th>
      <th><%= _("deactive date") %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @advertises.each do |advertise| %>
    <tr>
      <td><%= advertise.title %></td>
      <td><%= advertise.description %></td>
      <td><%= advertise.show_for_days %></td>
      <td><%= advertise.cost %></td>
      <td><%= advertise.cost_per_day %></td>
      <td><%= advertise.deactive_date %></td>
      <td><%= link_to '', advertise, class: show_btn_class, icons: show_btn_icon %></td>
      <td><%= link_to '', edit_advertise_path(advertise), class: edit_btn_class, icons: edit_btn_icon %></td>
      <td><%= link_to '', advertise, method: :delete, data: { confirm: 'Are you sure?' }, class: del_btn_class, icons: del_btn_icon %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<br />



<%= link_to _('New Advertise'), new_advertise_path, class: add_btn_class, icons: add_btn_icon %>
<br />

</div>
<%= paginate @advertises %>
