<%= content_for :sidebar do %>
  <%= render "dashboard/sidemenu" %>

  <div id="simulator" >
    <div class="cost">
      <h1>234</h1>
      <div class="link_section">
        <span><%=t :rial %></span1>
      </div>
    </div>
  </div>

<% end %>

<h1><%=  _("new advertise") %></h1>

<%= render 'form' %>

<%= link_to _("Back"), advertises_path, class: back_btn_class, icons: back_btn_icon %>
