<%= content_for :sidebar do %>
  <%= render "dashboard/sidemenu" %>

  <div id="simulator" class="sidebox">
    <div class="top-section">
      <h1>234</h1>
      <div class="link-section emerald">
        <span><%=t :rial %></span1>
      </div>
    </div>
  </div>

  <div class="sidebox">
      <div class="top-section">
        <h1>453</h1>
      <div class="link-section orange">
        <span><%= _("Score") %></span>
      </div>

      </div>
  </div>
<% end %>

<h1><%=  _("new advertise") %></h1>

<%= render 'form' %>

<%= link_to _("Back"), advertises_path, class: back_btn_class, icons: back_btn_icon %>
