
<%= content_for :sidebar do %>
  <div class="hide-for-small large-3 columns ">
    <%= render "dashboard/sidemenu" %>
    <br />
    <div class="row">
      <div id="es-cost-per-day" data-warning="1000"  data-danger="500" class="simulator box-noproblem  large-11 columns panel ">
        <h1>0</h1>
        <span><%= _('cost per day') %></span>
      </div>
    </div>

    <div class="row">
      <div id="es-credit" data-warning="10000" data-danger="5000" class="simulator large-11 box-noproblem columns panel ">
        <h1>0</h1>
        <span><%= _('credit') %></span>
      </div>
    </div>

    <div class="row">
      <div id="es-cost" data-warning="10000" data-danger="5000" class="simulator large-11 box-noproblem columns panel">
        <h1>0</h1>
        <span><%= _('cost') %></span>
      </div>
    </div>

  </div>
  <div class="small-12 large-9 columns">

<% end %>

<div class="row">

  <div class="small-12 columns">
    <%= link_to _("Back"), advertises_path, class: back_btn_class, icons: back_btn_icon %>
  </div>

  <div id="newadvertise">
    <div id="wizard" class="row" data-next="<%= _("Next") %> <i class='icon-chevron-left'></i>" data-prev="<i class='icon-chevron-right'></i> <%= _("Prev") %>" data-btnclass="button small secondary" data-steps-name="<%= _("Step") %>">
      <div class="small-12 columns">

	<%= render 'form' %>
      </div>
    </div>
  </div>

  <div id="adpreview" class="ad-preview hide">
    <div class="row">
      <div class="small-12 columns">
	<button id="backtowizard" class="btn secondary small"><%= _("Back to wizard") %></button>
      </div>
    </div>

    <div class="row"><div class="small-12 columns">
        <div id="previewad" class="box">
	  <div id="innerbox">
	    <h1 class="title"></h1>

	  </div>
	</div>
      </div>
    </div>

  </div>
</div>
