
<h1><%= @advertise.title %>sad</h1>

<%= form_for @advertise, url: {action: :do_renew} do |f| %>
  <div class="field">
    <%= f.label  t(:show_for_days) %><br/>
    <%= f.text_field :show_for_days %>
  </div>
  <div class="field">
    <%= f.label t(:cost) %><br/>
    <%= f.text_field :cost %>
  </div>
  <div class="actions">
    <%= submit_tag t(:renew), :class => "btn btn-success" %>
  </div>

<% end %>
