<p id="notice"><%= notice %></p>

<p>
  <strong><%=t :title %>:</strong>
  <%= @advertise.title %>
</p>


<p>
  <strong><%=t :show_for_days %>:</strong>
  <%= @advertise.show_for_days %>
</p>

<p>
  <strong><%=t :cost %>:</strong>
  <%= @advertise.cost %>
</p>

<p>
  <strong><%=t :cost_per_day %>:</strong>
  <%= @advertise.cost_per_day %>
</p>
<p>
  <strong><%=t :deactive_date %>:</strong>
  <%= @advertise.deactive_date %>
</p>


<p>
  <strong><%=t :description %>:</strong>
  <%= @advertise.description %>
</p>

<%= link_to t(:renew), renew_advertise_url %> |
<%= link_to 'Edit', edit_advertise_path(@advertise) %> |
<% if session[:dashboard] %>
  <%= link_to 'Back', dashboard_index_path %>
<% else %>
  <%= link_to 'Back', advertises_path %>
<% end -%>
