<div class="row">
  <%= link_to 'New Advertise', new_advertise_path, :class => "btn btn-success" %>

  <table class="table table-striped span12">
    <thead>
      <tr>
	<th>#</th>
	<th><%=t :title %></th>
	<th><%=t :cost %></th>
	<th><%=t :show_for_days %></th>
	<th><%=t :cost_per_day %></th>
	<th><%=t :remaining_days %></th>
	<th><%=t :active %></th>
	<th></th>
	<th></th>
      </tr>

    </thead>
    <tbody>
      <% @advertises.each do |advertise| %>
	<% if advertise.is_active? and advertise.remaining_days < 3 %>
	<tr class="warning">
	<% elsif advertise.is_active? %>
	<tr>
	<% else %>
	<tr class="error">
      <% end %>

      <td><%= advertise.id %></td>
      <td><%= advertise.title %></td>
      <td><%= advertise.cost %></td>
      <td><%= advertise.show_for_days %></td>
      <td><%= advertise.cost_per_day %></td>
      <td><%= advertise.remaining_days %></td>
      <td><%= advertise.is_active? %></td>
      <td><a class="btn" href="<%= edit_advertise_path(advertise)%>"><i class='icon-edit'></i></a></td>
      <td><%= link_to 'Destroy', advertise, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>

<% end %>
</tbody>
</table>
</div>


<div class="row">
  <% if @logs %>
    <p><%=t :latest_activities %></p>
  <table class="span12 table table-striped">
    <thead>
      <th><%=t :timestamp %></th>
      <th><%=t :advertise %></th>
      <th><%=t :activity %></th>
    </thead>
    <tbody>
      <% @logs.each do |log| %>
      <tr>
	<td><%= log.created_at %></td>
	<td>#<%= log.logable.id %></td>
	<td><%= log.msg %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <% end %>

</div>
