<div class="row dashbody">

  <div class="large-12 small-12 columns">
    <div class="section-container tabs" data-section>
      <section>
	<p class="title" data-section-title><a href="#panel1"><%= _("Advertises") %></a></p>
	<div class="content" data-section-content>


	  <div class="row">
	    <div class="small-12 columns large-9">
	      <%= link_to _("New advertise"), new_advertise_path,  class: add_btn_class + " radius small", icons: add_btn_icon %>
	    </div>
	  </div>
	  <div class="row">
	    <div class="small-12 columns large-12">
	      <% if not @advertises.empty? %>
		<div class="table-list advertise-list span12">
		  <ul>
		    <% @advertises.each do |advertise| %>
		      <li>
<<<<<<< HEAD
			<div class="inline right">
                          <a href="javascript:void(0);" class="dashboard-show-overload">
                            <%= advertise.title %>
                          </a>
                        </div>
=======
			<div class="inline right"><%= advertise.title %></div>
>>>>>>> add84021ecf1714f34f36919d0306d635be64612
			<div class="inline left">
			  <%= link_to '', advertise, method: :delete, data: { confirm: 'Are you sure?'}, class: del_btn_class, icons: del_btn_icon %>
			</div>
			<div class="inline left">
			  <%= link_to "", edit_advertise_path(advertise), class: edit_btn_class, icons: edit_btn_icon %>
			</div>
                        <div class="overload">
                          Some text comes here
                        </div>
		      </li>
		    <% end %>
		  </ul>

	      </div>
<%= paginate @advertises %>

<% end %>

</div>




</section>
<section>
  <p class="title" data-section-title><a href="#panel-renews"><%= _("Renews") %></a></p>
  <div class="content" data-section-content>

    <div class="row">
      <% if @renew_records.exists? %>
	<p><%= _("latest renews") %></p>
	<table class="span12 table table-striped">
	  <thead>
	    <th><%= _("created at") %></th>
	    <th><%= _("advertise") %></th>
	    <th><%= _("renew date") %></th>
	    <th><%= _("show for days") %></th>
	    <th><%= _("cost") %></th>
	    <th></th>
	  </thead>
	  <tbody>
	    <% @renew_records.each do |renew| %>
	      <tr>
		<td><%= renew.created_at %></td>
		<td>#<%= renew.advertise.id %></td>
		<td><%= renew.renew_date %></td>
		<td><%= renew.show_for_days %></td>
		<td><%= renew.cost %></td>
		<td><%= link_to "",  delete_renew_advertise_path(renew.advertise_id, renew.id), method: :delete, data: { confirm: _('Are you sure?') }, class: del_btn_class, icons: del_btn_icon %></td>

	      </tr>
	    <% end %>
	  </tbody>
	</table>
      <% end %>

    </div>


  </div>
</section>

<section>
  <p class="title" data-section-title><a href="#panel-logs"><%= _("Logs") %></a></p>
  <div class="content" data-section-content>





    <div class="row">
      <% if @logs.exists? %>
	<h2><%= _("latest activities") %></h2>
	<table class="span12 table table-striped">
	  <thead>
	    <th><%= _("timestamp") %></th>
	    <th><%= _("advertise") %></th>
	    <th><%= _("activity") %></th>
	  </thead>
	  <tbody>
	    <% @logs.each do |log| %>
	      <tr>
		<td><%= log.created_at %></td>
		<% if log.logable -%>
		  <td>#<%= log.logable.id %></td>
		<% else %>
		  <td>-</td>
		<% end -%>

		<td><%= log.msg %></td>
	      </tr>
	    <% end %>
	  </tbody>
	</table>
      <% end %>
    </div>
</section>
</div>
</div>
</div>
