<header <% if page == "home" %>class="fixed"<% end %>>
    <nav>
      <div class="logo">
	<h1><a href="<%= root_url %>"><span><%=_("Shakhak")%></span></a></h1>
      </div>

      <% if page == "home" %>
      <ul class="pull-right">
        <li>
          <form class="custom">
            <section class="search">
              <span class="search-icon"><i class="icon-search"></i></span>
              <input id="search" class="" type="text" name="search" value="" placeholder="<%= _("Search") %> ..."/>

            </section>

          </form>
        </li>
      </ul>
      <% end %>


      <ul class="pull-left top-nav">
	<li>
	  <span id="mainloading" class="loading hide"><i class="icon-refresh icon-spin"></i></span>
	</li>

	<li data-texttip="<%= _("Home") %>">
	  <a href="<%= root_url %>"><i class="icon-home icon-large"></i></a>
	</li>
	<li data-texttip="<%= _("Dashboard") %>">
	  <a href="<%= dashboard_index_url %>"><i class="icon-th-large icon-large"></i></a>
	</li>

        <% if page == "home" %>
	<li data-texttip="<%= _("Filter") %>">
	  <a id="filterbtn" href="#"><i class="icon-filter icon-large"></i></a>
	</li>
        <% end %>

        <% if user_signed_in? %>
	  <li data-texttip="<%= _("Settings") %>">
	    <a href="<%= root_url %>"><i class="icon-cog icon-large"></i></a>
	  </li>

	  <li data-texttip="<%= _("Sign out") %>">
	    <a href="<%= destroy_user_session_path %>" data-method="delete" rel="nofollow"><i class="icon-signout icon-large"></i></a>
	  </li>

        <% else %>
	  <li data-texttip="<%= _("Sign in") %>">
	    <a href="<%= new_user_session_path %>"><i class="icon-signin icon-large"></i></a>
	  </li>
        <% end %>
      </ul>

    </nav>
</header>
