<header>
    <nav>
      <div class="logo">
	<h1><a href="<%= root_url %>"><span><%=_("Shakhak")%></span></a></h1>
      </div>

      <ul class="pull-right">
	<li data-texttip="asdasdasd">
	  <a href="<%= root_url %>"><i class="icon-home icon-2x"></i></a>
	</li>
	<li>
	  <a href="<%= dashboard_index_url %>"><i class="icon-th-large icon-2x"></i></a>
	</li>

      </ul>

      <ul class="pull-left">
	<li>
	  <a href="<%= root_url %>"><i class="icon-cog icon-2x"></i></a>
	</li>
	<li>
	  <a href="<%= dashboard_index_url %>"><i class="icon-filter icon-large"></i></a>
	</li>

      </ul>

    </nav>
</header>
