<%= link_to_function "click here", "load_page(3)" %>

<script type="text/html" id="boxtemplate">
        <div id="ad{{ print(ad.get('id')) }}" class="box box{{ print(ad.get("get_size")) }}" data-container-class="bannercontainers">
	  <div>
	    <h1 class="title">{{ print(ad.get("title")) }}</h1>
	  </div>

          <div id="banner" class="bottombanner {{ print(ad.get("category").cssclass) }}">

            <div class="ad-info bannercontainers">
              <div><span><i  data-tip="likes" class="icon-thumbs-up"></i> {{ print(ad.get("likes")) }}</span></div>
              <div><span><i  data-tip="views" class="icon-eye-open"></i> {{ print(ad.get("views")) }}</span></div>
            </div>
	    <div class="iconsection">
	      <ul>
	        <li class="category-icon" data-tip="{{ print(ad.get("category").name) }}" data-title="<%= _("category") %>"><i class="icon-sitemap"></i></li>
	        <li class="tag-icon" data-tip="{{ print(ad.get('tags')) }}" data-title=<%= _("tags list") %>><i class="icon-tag"></i></li>
	        <!--<li class="user"><i class="icon-user"></i></li>-->
	        <li class="filter" data-tip="<%= _("Filter similar advertises") %>"><i class="icon-filter"></i></li>
	      </ul>
	    </div>
	  </div>

	</div>
</script>

<div id="adbox">
    <% @advertises.each do |advertise| %>

        <!-- adbox -->
        <div id="ad<%= advertise.id %>" class="box box<%= advertise.get_size %>" data-container-class="bannercontainers">
	  <div>
	    <h1 class="title"><%= advertise.title %></h1>
	  </div>

          <div id="banner" class="bottombanner <%= advertise.category.cssclass %>">

            <div class="ad-info bannercontainers">
              <div><span><i  data-tip="likes" class="icon-thumbs-up"></i> <%= advertise.likes %></span></div>
              <div><span><i  data-tip="views" class="icon-eye-open"></i> <%= advertise.views %></span></div>
            </div>
	    <div class="iconsection">
	      <ul>
	        <li class="category-icon" data-tip="<%= advertise.category.name %>" data-title="<%= _("category") %>"><i class="icon-sitemap"></i></li>
	        <li class="tag-icon" data-tip="<%= advertise.tags.join(" ") %>" data-title=<%= _("tags list") %>><i class="icon-tag"></i></li>
	        <!--<li class="user"><i class="icon-user"></i></li>-->
	        <li class="filter" data-tip="<%= _("Filter similar advertises") %>"><i class="icon-filter"></i></li>
	      </ul>
	    </div>
	  </div>

	</div>
        <!-- addbox -->


    <% end %>
</div>

<%= javascript_include_tag  "endless_page/endless_page" %>
