<%= stylesheet_link_tag    "foundicons", media: "all", "data-turbolinks-track" => true %>

<div class="row">
  <div class="small-12 large-centered large-6 columns">
    <fieldset>

    <legend><%= _("Sign in") %></legend>

    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
      <div class="row">
	<div><%= f.email_field :email, :autofocus => true, :placeholder => _("Email ...."), :class => "small-10 small-centered columns", :dir => "ltr" %></div>
      </div>

      <div class="row">
	<div><%= f.password_field :password, :placeholder => _("Password ...."), :class => "small-10 small-centered columns", :dir => "ltr" %></div>
      </div>
      <br />
      <div class="row">
      <% if devise_mapping.rememberable? -%>
	  <div class="small-4 small-offset-1 columns"><%= f.check_box :remember_me %><span class="small-text"><%= _("Remember me") %></span></div>
      <% end -%>
	<div><%= f.submit "Sign in", :class => "button medium success radius  small-offset-8 small-3 columns" %></div>
      </div>
    <% end %>

    <a href="/auth/twitter/"><i class="social foundicon-twitter"></i></a>
    <a href="/auth/google_oauth2/">Google</a>
    <br>
    <%= render "devise/shared/links" %>
    </fieldset>
  </div>
</div>
