<div class="wrapper_signin">
  <div class="row">
    <div class="twelve columns layout_signin">
      <div class="row">
	<div class="eight columns">

          <h1>Sign in</h1>

	  <div class="justify big_box inline">
<%=image_tag("auth/one-night.jpg", :class=>"left pull_right")%>
	    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vitae porta quam, a congue est. Maecenas vel tortor in sem convallis commodo. Ut pulvinar lorem tincidunt auctor molestie.
	  </div>

	  <div class="large-6 columns justify ">
	    esque vitae in arcu. Phasellus sit amet justo vel neque interdum ornare. Etiam sodales vulputate pellentesque. Phasellus et pretium felis, semper auctor nibh. Suspendisse vive

	  </div>

	  <div class="large-4 columns justify ">
	    esque vitae in arcu. Phasellus sit amet justo vel neque interdum ornare. Etiam sodales vulputate pellentesque. Phasellus et pretium felis, semper auctor nibh. Suspendisse viver

	  </div>
	</div>
	<div class="large-4 columns">
	  <div class="row">
	    <section id="form_signin">
	      <div id="formbox_login" class="form_auth rounded">
		<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>

		  <%= devise_error_messages! %>
		  <div class="field">
		    <label><%=_("E-mail") %></label>
		    <%= f.email_field :email, :autofocus => true, :type => "text", :class => "  input email  ", :placeholder=>_("E-mail") %>
<% if resource.errors[:email] -%>
		      <dd class="danger abel"><%= resource.errors[:first_name][0]%></dd>
<% end -%>

		  </div>

		  <div class="field">
		    <label><%=_("Password") %></label>
		    <%= f.password_field :password, :class => "input password" %>
<% if resource.errors[:first_name] -%>
		      <dd class="danger abel"><%= resource.errors[:first_name][0] %></dd>		    <% end -%>

		  </div>
		  <div class="field">
		    <% if devise_mapping.rememberable? -%>
		      <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
		    <% end -%>
		  </div>
		  <div class="submit">
		    <%= f.submit _("  Sign in  "), :class => "btn medium pull-right entypo info"%><br><br>
		  </div>

		<% end %>
		<div style="text-align: center;">
		  <%= render "devise/shared/links" %>
		</div>
	      </div>
	    </section>
	  </div>

	  <br />
	  <div class="form_auth row">

	    <h3><%= _("Login using") %>:</h3>
		<a href="/auth/google_oauth2/" class="pull_right">
		  <%=image_tag("auth/icon-google.png") %>
		</a>

	      <a href="/auth/facebook/" class="pull_right">
		  <%=image_tag("auth/icon-facebook.png") %>
	      </a>

	      <a href="/auth/twitter/" class="pull_right">
		  <%=image_tag("auth/icon-twitter.png") %>
	      </a>

	  </div>

	</div>

      </div>
    </div>

    <br><br>
  </div>
</div>
