<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="fa" dir="rtl"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="fa" dir="rtl"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="fa" dir="rtl"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9" lang="fa" dir="rtl"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="fa" dir="rtl"> <!--<![endif]-->

  <head>
    <title><%=t :shakhak %></title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>

  <body dir="rtl">

    <%= render "shared/navbar" %>

    <div class="container-fluid main">
      <div class="row-fluid">

	<div class="span12">
	  <div class="row-fluid">
	    <div class="span12">
	      <p class="text-success"><%= notice %></p>
	      <p class="text-error"><%= alert %></p>
	    </div>
	  </div>
	  <%= yield %>
	</div>

      </div>
    </div>

    <%= render "shared/footer" %>

  </body>
</html>
