<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="fa" dir="rtl"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="fa" dir="rtl"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="fa" dir="rtl"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9" lang="fa" dir="rtl"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="fa" dir="rtl"> <!--<![endif]-->
<head>
  <title><%=t :shakhak %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= stylesheet_link_tag    "dashboard/application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "dashboard/application" %>
    <%= csrf_meta_tags %>
</head>

<body>


  <%= render "dashboard/navbar" %>

  <div class="row">


    <% if content_for?(:sidebar) %>
      <%= yield(:sidebar) %>
    <% else %>
      <div class="hide-for-small large-3 columns ">
	<%= render "dashboard/sidemenu" %>
      </div>
      <div class="small-12 large-9 columns">

    <% end %>


      <div class="row">
	<div class="small-12 large-12">
	  <div id="flash-success" class="flash flash-success"  <% if notice == nil %>style="display: none;"<% end %>>
	    <p  class="text-success"><%= notice %></p>
	    <span data-target="flash-sucess" class="close">&times;</span>
	  </div>
	  <div id="flash-alert" class="flash flash-alert" <% if alert == nil %>style="display: none;"<% end %>>
	    <p class="text-error"><%= alert %></p>
	    <span data-target="flash-alert" class="close">&times;</span>
	  </div>
	</div>
      </div>
    <%= yield %>
    </div>

  </div>

    <%= render "shared/footer" %>
</body>
</html>
